@use './styles/variables' as v;
@use './styles/typography' as t;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: v.$grey-50;
  background-image: url('./assets/images/pattern-background-mobile-light.svg');
  background-repeat: no-repeat;

  .dark-mode & {
    background-color: v.$blue-900;
    background-image: url('./assets/images/pattern-background-mobile-dark.svg');

    @media (min-width: 48rem) {
      background-image: url('./assets/images/pattern-background-tablet-dark.svg');
    }

    @media (min-width: 90rem) {
      background-image: url('./assets/images/pattern-background-desktop-dark.svg');
    }
  }

  @media (min-width: 48rem) {
    background-image: url('./assets/images/pattern-background-tablet-light.svg');
  }

  @media (min-width: 90rem) {
    background-image: url('./assets/images/pattern-background-desktop-light.svg');
  }
}

// ThemeToggleHeader

.header {
  padding: 1rem 1.5rem;

  @media (min-width: 48rem) {
    padding: 3.375rem 4rem 0.9375rem;
  }

  @media (min-width: 90rem) {
    padding: 6.0625rem 8.75rem 6.1875rem 0;
  }
}

.theme-toggle__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.theme-toggle__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  color: v.$grey-500;

  .dark-mode & {
    color: v.$white;
  }
}

// .theme-toggle__icon {
//   align-content: center;
// }

.theme-toggle__track {
  padding: 0.25rem;
  width: 32px;
  height: 20px;
  background-color: v.$purple-600;
  border-radius: 999px;
  position: relative;
}

.theme-toggle__thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: v.$white;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  left: 4px;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  // right 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .dark-mode & {
    left: 16px;
  }
}

// FrontendQuizApp

.container {
  padding: 2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (min-width: 48rem) {
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    gap: 4rem;
  }

  @media (min-width: 90rem) {
    flex-direction: row;
    max-width: 72.3125rem;
    gap: 8rem;
    padding: 0;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 90rem) {
    gap: 3rem;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title-container__subtitle {
  color: v.$blue-900;
  @include t.text-preset-2-light;

  .dark-mode & {
    color: v.$white;
  }
}

.title-container__title {
  color: v.$blue-900;
  @include t.text-preset-2-medium;

  .dark-mode & {
    color: v.$white;
  }
}

.header-container__description {
  color: v.$grey-500;
  @include t.text-preset-5-mobile;

  .dark-mode & {
    color: v.$blue-300;
  }

  @include t.text-preset-6;
}

// SubjectList

.subject-list {
  flex: 1;
}

.subjects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 48rem) {
    gap: 1.5rem;
  }

  @media (min-width: 48rem) {
    gap: 1rem;
  }
}

// SubjectItem

.subject-item__button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: v.$white;
  border-radius: 12px;
  box-shadow: 0 16px 40px 0 rgba($color: #8fa0c1, $alpha: 0.14);

  .dark-mode & {
    background-color: v.$blue-850;
    box-shadow: 0 16px 40px 0 rgba($color: v.$blue-900, $alpha: 1);
  }

  @media (min-width: 48rem) {
    border-radius: 24px;
  }

  @media (min-width: 90rem) {
    padding: 1.5rem;
  }
}

.subject-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  @media (min-width: 48rem) {
    width: 56px;
    height: 56px;
    border-radius: 12px;
  }
}

.subject-icon {
  width: 29px;
  height: 29px;

  @media (min-width: 48rem) {
    width: 40px;
    height: 40px;
  }
}

.subject-icon-container.subject-html {
  background-color: v.$orange-50;
}

.subject-icon-container.subject-css {
  background-color: v.$green-100;
}

.subject-icon-container.subject-javascript {
  background-color: v.$blue-50;
}

.subject-icon-container.subject-accessibility {
  background-color: v.$purple-100;
}

.subject-item__name {
  color: v.$blue-900;
  @include t.text-preset-4;

  .dark-mode & {
    color: v.$white;
  }
}
